# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.env.*

# Streamlit cache
.streamlit/config.toml
.streamlit/secrets.toml

# Jupyter Notebooks
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
